.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #F5F5F5;
    font-weight: bold;
    color: #555;
  }
  
  td {
    font-size: 1.1rem;
  }
  
  button {
    background-color: #F8B195;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.05);
    background-color: #E27D60;
  }
  